.violations--container{
    width: 100%;
}

.violations--cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: white;
}

.violations--info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

.violations--ppe-violation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 8px;
    background-color: white;
    font-size:18px;
}

.violations--info-text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.violations--icons{
    background-color: #EDEDED;
    padding: 10px;
    font-size: 32px;
    margin: 0;
    border-radius: 5px;
}

.violations--icons-alert{
    background-color: #EDEDED;
    color: red;
    padding: 10px;
    font-size: 32px;
    margin: 0;
    border-radius: 5px;
}

.violations--video{
    max-width: 640px;
    border: 2px solid #ccc; 
    border-radius: 8px
}

@media (max-width: 900px) {
    .violations--info-container{
        grid-template-columns: 1fr;
    }
}

/* @media (max-width: 500px) {
    .enviroment-tracker--cards-container {
        grid-template-columns: 1fr;
    }
} */